body{
    background-color: white;
}

.ethanSVG{
    width: 100%;
    display: block;
    margin: 30px auto;
    animation: ethan-ani 1.5s linear;
}

@keyframes ethan-ani{
    0% {opacity: 0%;}
    10% {opacity: 0%;}
    100% {opacity: 100%;}
}

#Background{
    animation: bg-ani 2.5s ease-in-out;
    transform-origin: center;
}

@keyframes bg-ani{
    0% {transform: translate(0, -200px); transform: scale(0);}
    90% {transform: translate(0, 0); transform: scale(1.1);}
    100% {transform: translate(0, 0); transform: scale(1);}
}

#E{
    animation: e-ani 2.5s linear;
    transform-origin: center;
    color: black;
}

@keyframes e-ani{
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

#T{
    animation: t-ani 2.5s linear;
    transform-origin: center;
}

@keyframes t-ani{
    0% {transform: translate(0, 500px);}
    100% {transform: translate(0, 0px);}
}

#H{
    animation: h-ani 2.5s linear;
    transform-origin: center;
    color: black;
}

@keyframes h-ani{
    0% {transform: rotate(-360deg);}
    100% {transform: rotate(0deg);}
}

#A{
    animation: a-ani 2.5s linear;
    transform-origin: center;
}

@keyframes a-ani{
    0% {transform: translate(0px, -500px)}
    100% {transform: translate(0, 0px);}
}

#N{
    animation: n-ani 2.5s linear;
    transform-origin: center;
}

@keyframes n-ani{
    0% {transform: rotate(-360deg);}
    100% {transform: rotate(0deg);}
}