html{
  padding: 0;
  margin: 0;
}
body {
  background-color: #999999;
  padding: 0;
  margin: 0;
}
#wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background-color: #f8de87;
  padding-top: 20px;
}
nav ul{
  padding: 0;
  margin: 0;
}
nav li {
  list-style-type: none;
  margin: 16px auto;
  width: 80%;
}
nav li a {
  display: block;
  padding: 15px 10px;
  background-color: #21180f;
  color: #be7d54;
  text-decoration: none;
  font-size: larger;
  border: 3px solid transparent;
  border-radius: 4px;
  transition: all 0.35s;
  text-align: center;
  font-family: "Alfa Slab One", serif;
  font-size: 20px;
  letter-spacing: 0.05em;
}
nav li a:hover{
  background-color: #a45c30;
  border: 3px solid #ffffff;
  color: white;
}
h1{
  background-color: #21180f;
  color: #be7d54;
  margin: 0;
  padding: 30px 20px;
  text-align: center;
  font-family: "Alfa Slab One", serif;
  font-size: 35px;
  letter-spacing: 0.1em;
}
h2{
  text-align: center;
  font-family: "Alfa Slab One", serif;
  letter-spacing: 0.05em;
  font-size: 28px;
}
.frontprofile{
  width: 250px;
  margin: 0 auto;
  display: block;
  box-shadow: 10px 10px 2px #784a0070;
  border-radius: 4px;
}
main{
  margin: 0;
  padding: 0;
}
#main-content:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
main {
  grid-column: 4 / span 9;
  grid-row: 1;
}
footer {
  grid-column: 4 / span 9;
  grid-row: 2;
  color:white;
  background-color: #21180f;
  text-align: center;
  padding: 0 10px 20px;
  margin-top: 30px;
}
footer a{
  margin:0px 20px;
  text-decoration: none;
  color: #ffedb0;
  transition:all 0.35s;
}
footer a:hover{
  color: red;
}
footer h2{
  color: #be7d54;
}
.alfa-slab-one-regular {  
  font-family: "Alfa Slab One", serif;
  font-weight: 400;  
  font-style: normal;
}
.mainabout{
  width: 70%;
  margin: 0 auto;
  line-height: 25px;
}
.mainabout ul{
  font-size: larger;
  line-height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  width: 70%;
  padding: 20px 10px 20px 40px;
  margin: 0 auto 80px auto;
  box-shadow: 5px 5px 2px #784a0070;
}
.aboutprofile{
  margin: 30px auto 45px;
  width: 250px;
  max-height: 450px;
}
.frontparagraph{
  padding: 10px;
  font-size: larger;
  line-height: 40px;
  width: 50%;
  margin: 30px auto;
  padding: 20px 10px 20px 40px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 2px #784a0070;
}
.shortcut{
  padding: 10px;
  font-size: larger;
  line-height: 40px;
  width: 50%;
  margin: 30px auto;
  padding: 20px 10px 20px 40px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 2px #784a0070;
}
.worksparagraph{
  width: 50%;
  margin: 0 auto;
  margin-top: 18px;
}
.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #21180f;
  color: white;
  padding: 15px 20px;
  z-index: 1000;
  text-decoration: none;
  font-family: "Alfa Slab One", serif;
  font-size: 1rem;
  border-bottom-right-radius: 4px;
  transition: top 0.35s ease;
}
.skip-link:focus {
  top: 0;
  outline: 3px solid white;
  outline-offset: 0;
  color: #be7d54;
}
h3{
  font-family: "Alfa Slab One", serif;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-top: 30px;
  margin-bottom: 0;
}
.margintop{
  margin-top: 30px !important;
}
nav li a[aria-current="page"]{
  background-color: #a45c30;
  color: white;
  border: 3px solid #ffffff;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);  
  white-space: nowrap;
  border: 0;
}
nav li a:focus {
  background-color: #a45c30;
  border: 3px solid #ffffff;
  color: white;
  outline: none;
}

::selection{
  background-color: #a45c30;
  color: white;
}

@media all and (max-width: 30rem){
    h1{
        font-size: 40px;
    }
    nav li a{
        font-size: 14px;
        padding: 5px 0;
    }
    main .mainabout{
      width:90%;
    }
    footer{
        grid-template: 1fr 1fr;
        display: grid;
    }
    h2{font-size: 18px;}
    h3{font-size: 15px;}
.aboutprofile{
    width: 80%;}
}

@media all and (min-width: 30rem) and (max-width: 50rem){
    h2{
        font-size: 25px;
    }
.aboutprofile{
    width: 300px;
}
}
